
 .green-background{
   color:#004030 ;
   height: 200px;
 }

.container {
  position: relative;
  text-align: center;
  color: white;
}

.image {
  width: 100%;
  height: auto;
}
.icon-container{
  display: flex;
  align-items: center;
}
.icon{
  margin-right: 10px;
  color: white;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 50px;
  font-weight: bolder;
}